.Lyh-container {
    height: calc(100% - 64px);
}
.Lyh-header {
    height: 56px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.head-menu-icon {
    margin-right: 30px;
}